{% extends "base.html" %}
{% block title%}
{% if tracks | length >1 %}
所有歌曲
{% else %}
歌曲-{{ tracks[0]["name"] }}
{% endif %}
{% endblock %}
{% block content%}
<table class="border-collapse border border-slate-400 m-16">
    <thead>
        <tr>
            <th class="border border-slate-700">序号</th>
            <th class="border border-slate-700">歌名</th>
            <th class="border border-slate-700">时长</th>
        </tr>
    </thead>
    <tbody>
        {% for row in tracks%}
            <tr class="text-center">
                {% for value in row %}
                <td class="border border-slate-300">{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}